@use "../util" as util;

.die {
  // border: 2px solid green;
  width: 45px;
  height: 45px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 15px;
  background-color: tomato;
  border-radius: 10px;
  cursor: pointer;

  &__number {
    font: util.$headingfont;
    color: var(--number-color);
    font-size: 2rem;
  }
}
