
.main {
  background-color: #f5f5f5;
  max-width: 800px;
  width: 100%;
  margin: 30px auto;
  height: 550px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 50px;
  }

  &__btn {
    width: 150px;
    height: 35.84px;
    padding: 20px;
    background-color: #5035ff;
    color: #fff;
    font: "Karla", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 12px;
    border: none;
  }
  &__btn:focus {
    outline: none;
  }
  &__btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }
  &__para{
    max-width: 295px;
    text-align: center;
  }
}
